
body {
font-family: 'David Libre', sans-serif;
direction: rtl; 
text-align: right;
line-height: 1.5;
}

h1, h2, h3 {
font-weight: bold;
text-align: right;
}

.ms {

}

.margin{
    color:darkred;
}

.hi {
    background-color: yellow;
}

.reconstructed {
    color:lightgray;
}

/* .reconstructed::before {content:"["} */

/* .reconstructed::after {content:"]"} */

.stich {
    display: inline-block;
    width: 30px;
}

#supralinear {
    vertical-align: super;
}

#infralinear {
    vertical-align:sub;
}

#margin_car::before {content:"\200Fmargin_car:"}

#margin_infralinear::before {content:"\200Fmargin_infralinear:"}

#margin::before {content:"\200Fmargin:"}

#margin_supralinear::before {content:"\200Fmargin_supralinear:"}

#margin_reconstructed::before {content:"\200Fmargin_reconstructed:"}

p {
margin: 0 0 0.2em 0;
}

.line{
    color: blueviolet;
}


#line{
    color: blueviolet;
}

#verse{
    color: blue;
}

