@font-face {
  font-family: 'SBLHebrew';
  src: url("fonts/SBL_Hbrw.ttf") format("truetype");
}

body {
  font-family: 'SBLHebrew';
  direction: rtl; 
  text-align: right;
  width: 400px;
  line-height: 1.5;
  /* margin-left: 100px; */
  margin-right: 120px;
  /* position: relative; */
}

h1, h2, h3 {
font-weight: bold;
text-align: right;
}

.ms {

}

.margin{
  color: darkred;
  font-size: small;
  position: absolute;
  right: 10px;
  width: 105px;
  word-break: break-word;
}

#margin_right.margin {
  color: darkred;
  font-size: small;
  position: absolute;
  right: 10px;
  width: 105px;
  word-break: break-word;
}

#margin_left.margin {
  color: darkred;
  font-size: small;
  position: absolute;
  right: 540px;
  width: 105px;
  word-break: break-word;
}

.hi {
    background-color: yellow;
}

.reconstructed {
    opacity: 0.25;
}

/* .reconstructed::before {content:"["} */

/* .reconstructed::after {content:"]"} */

.stich {
    display: inline-block;
    width: 30px;
}


.del{
    color: blueviolet;
}

#strikethrough{
    text-decoration: line-through;
}

#supralinear, #interlinear {
    vertical-align: super;
}

#interlinear.margin {
  font-size: small;
  position: relative;
  right: 0px;
  width:fit-content;
}

#infralinear {
    vertical-align:sub;
}



p {
margin: 0 0 0.2em 0;
}

.line{
    color: blueviolet;
}


#line{
    color: blueviolet;
}

.verse_nb{
    color:maroon;
    font-weight: bold;
}

